/****************************/
/* TITLE */
/****************************/

.title {
	font-family: "Outfit", sans-serif;
	font-size: 9rem;
	line-height: 0.75;
	margin-bottom: 6.4rem;
	padding-top: 3rem;
}

/****************************/
/* INSTRUCTIONS */
/****************************/

.instruction-title {
	line-height: 2;
	font-size: 2.8rem;
}

.instruction-description {
	width: 60%;
	margin-bottom: 4.8rem;
}

/****************************/
/* RULES */
/****************************/

.rules {
	padding-left: 2.4rem;
	margin-bottom: 4.8rem;
}

.rules > li {
	list-style: disc;
	font-size: var(--general-text-size);
	line-height: 1.5;
}

/****************************/
/* PROCEED */
/****************************/

.proceed-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.checkbox-container {
	display: flex;
	align-items: center;
}

.checkbox-label {
	display: block;
	padding: 0.5rem 1.8rem;
}

.checkbox {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	color: var(--text-color);
	width: var(--general-text-size);
	height: var(--general-text-size);
	border: 2px solid currentColor;
	border-radius: 0.15em;
	display: grid;
	place-content: center;
}

.checkbox::before {
	content: "";
	width: calc(var(--general-text-size) * 0.6);
	height: calc(var(--general-text-size) * 0.6);
	transform: scale(0);
	/* transition: 120ms transform ease-in-out; */
	box-shadow: inset 2rem 2rem var(--accent-color);
}

.checkbox:checked::before {
	transform: scale(1);
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
