/****************************/
/* HEADER */
/****************************/

.title {
	font-family: "Outfit";
	font-size: 5rem;
	line-height: 0.8;
	padding-top: 5rem;
	padding-bottom: 3rem;
}

/****************************/
/* MAIN */
/****************************/

h2 {
	font-size: 1.8rem;
	line-height: 1.7;
}

.rules {
	padding-top: 3rem;
	padding-bottom: 4rem;
	font-size: 1rem;
	line-height: 1.8;
	list-style: disc;
	padding-left: 1.5rem;
}

form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

label {
	margin-right: auto;
	padding: 1rem;
}

button {
	margin-left: auto;
}

main p {
	font-size: 1rem;
	line-height: 1.1;
}

.checkbox input {
	height: 0;
	width: 0;
}

.checkbox {
	display: inline-block;
	position: relative;
	padding-left: 2rem;
	user-select: none;
}

.checkmark {
	position: absolute;
	top: 30%;
	left: 0;
	height: 20px;
	width: 20px;
	border: 2px solid white;
}

.checkbox:hover input ~ .checkmark {
	background-color: rgb(255, 255, 255, 0.5);
}

.checkbox input:checked ~ .checkmark {
	background-color: rgb(255, 255, 255);
}
