/****************************/
/* TIMER */
/****************************/

.timer {
	position: absolute;
	top: 4.8rem;
	right: 4.8rem;
	width: 11rem;
	height: 11rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 200rem;
	background: conic-gradient(
		#0ff 0%,
		#0ff calc(var(--percentage) * 1%),
		transparent 0 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

.time {
	height: 9rem;
	width: 9rem;
	font-size: 3.5rem;
	font-weight: 400;
	font-family: "Outfit";

	background-image: url(../images/bg.jpg);
	background-position: 160px;
	background-color: rgba(20, 20, 20, 0.3);
	background-blend-mode: darken;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 200px;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.pulse {
	animation: pulse 1s infinite;
}

/****************************/
/* PAGE LAYOUT */
/****************************/

.scene-quiz {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

body > main {
	height: 90%;
}

body > footer {
	height: 0;
}

/****************************/
/* QUESTION */
/****************************/

.question {
	font-size: 4.6rem;
	font-weight: 400;
	text-align: center;
	font-family: "Outfit";
	padding: 6rem 19rem 0rem 19rem;
}

.question-counter {
	font-family: "Outfit";
	font-weight: 500;
}

/****************************/
/* ANSWERS */
/****************************/

.answers-container {
	text-align: center;
	width: 80%;
	display: grid;
}

.answers-container.multiple {
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.answers-container.boolean {
	width: auto;
	margin: 0 auto;
	grid-template-columns: 1fr;
	gap: 2.8rem;
}

/* BUTTONS */

.btn-answer {
	padding: 2.4rem;
	color: var(--text-color);
	font-size: var(--general-text-size);
	font-weight: bold;
	border: none;
	background-color: #ffffff11;
	border-radius: 1000px;
	cursor: pointer;
	box-shadow: inset 2px 2px 0 #ffffffb6, inset -2px 2px 0 #ffffff46,
		inset 2px -2px 0 #ffffff46, inset -2px -2px 0 #ffffff00;
}

.btn-answer--selected {
	background: #d20094;
	background: linear-gradient(180deg, #d20094 20%, #900080 75%);
}

/* RADIO */

.radio-container {
	font-size: var(--general-text-size);
	line-height: 1.1;
	display: inline-flex;
	justify-self: start;
	align-items: center;
}

.radio-container label {
	padding: 1rem;
}

.radio-container input[type="radio"] {
	color: currentColor;
	width: var(--general-text-size);
	height: var(--general-text-size);
	box-shadow: 0 0 0 1px var(--text-color);
}

.radio-container input[type="radio"]:hover {
	border-width: 0;
}

.radio-container input[type="radio"]:checked {
	box-shadow: 0 0 0 1px var(--second-color-variation);
	background-color: var(--second-color-variation);
	border-width: 0.2rem;
}

.radio-container input[type="radio"] {
	/* hiding browser el */
	appearance: none;
	/* Safari support */
	-webkit-appearance: none;
	border: 0.5px solid var(--text-color);
	background-color: transparent;
	border-radius: 50%;
}

.radio-container input[type="radio"]:focus-visible {
	outline-offset: 0;
}
