/****************************/
/* TIMER */
/****************************/




.timer {
    
}

/****************************/
/* MAIN */
/****************************/

.question {
    margin-top: 16rem;
    text-align: center;
    font-size: 4rem;
    color: white;
}

/****************************/
/* ANWERS */
/****************************/

.btn-answer {
}

.btn-answer--selected {
}

/****************************/
/* QUESTION COUNTER */
/****************************/

.question-counter {
}

/****************************/
/* ANSWER GRAPHICS */
/****************************/

.answer-graphics {
}

.feedback {
}

.feedback-title {
}

.is-passed {
}

.is-passed--passed {
}

.description {
}

.is-passed--not {
}
