* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-size: inherit;
}

html {
	/* 1rem = 10px */
	font-size: 62.5%;
}

em {
	font-style: normal;
}

ol,
ul {
	list-style: none;
}
