.scene-results {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	gap: 2rem;
	margin-bottom: 5%;
	font-family: "Outfit";
}

/****************************/
/* TITLE */
/****************************/

.result-title {
	font-size: 4.8rem;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 0.4rem;
}

.result-description {
	text-align: center;
	letter-spacing: 0.8px;
	font-size: 2.8rem;
}

/****************************/
/* RESULT */
/****************************/

.results-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
}

/* SIDE */

.answer-stat {
	padding-left: 8rem;
	padding-right: 8rem;
	display: inline-flex;
	flex-direction: column;
	color: var(--em-color);
}

.answer-stat #wrong em {
	--text-color: #c5c5c5;
}

.answer-stat > h4 {
	font-size: 5.8rem;
}

.answer-stat > p:first-of-type {
	font-size: 6.8rem;
	line-height: 0.8;
	margin-bottom: 0.5rem;
}

.answer-stat > p:last-of-type {
	font-size: 2.1rem;
	font-weight: 200;
	line-height: 1.7;
}

.answer-stat--wrong {
	text-align: end;
	color: var(--text-color);
}

.answer-stat--wrong > p:first-of-type em {
	color: var(--text-color);
}

/* CHART */

.answer-graphics {
	position: absolute;
	inset: 0;
	margin: auto;
}

.chart {
	position: absolute;
	inset: 0;
	margin: auto;
}

.feedback {
	position: absolute;
	inset: 0;
	align-content: center;
	text-align: center;
	font-family: "Inter";
}

.color-passed {
	font-size: 2rem;
	padding-bottom: 1rem;
	color: #0ff;
	font-weight: 600;
}

.is-passed {
	padding-bottom: 1rem;
}

.color-not-passed {
	font-size: 2rem;
	color: #d20094;
	font-weight: 600;
}

.feedback-title {
	padding-top: 1rem;
	font-size: 2.1rem;
	line-height: 2rem;
	font-weight: 600;
}

.feedback-description {
	font-size: 1.1rem;
	line-height: 2rem;
	font-weight: 400;
	padding-left: 47rem;
	padding-right: 47rem;
	padding-top: 2.5rem;
}
