/****************************/
/* STAR RATING */
/****************************/

.star-rating {
	align-items: center;
}

.star {
	height: 5rem;
	width: 5rem;
	fill: black;
}

.star--checked {
	fill: aqua;
}
