/****************************/
/* STAR RATING */
/****************************/
body {
	font-family: "Outfit";
}

main {
	padding-left: 20rem;
	padding-right: 20rem;
}

.star-rating {
	display: flex; /* Disposizione flessibile per le stelle */
	flex-direction: row;
	align-items: center; /* Allinea le stelle verticalmente al centro */
	justify-content: center; /* Centra le stelle orizzontalmente */
	gap: 10px; /* Spaziatura tra le stelle */
	padding-top: 2rem;
	padding-bottom: 6rem;
}

.star {
	height: 5.5rem; /* Altezza delle stelle */
	width: 5.5rem; /* Larghezza delle stelle */
	fill: rgba(0, 0, 0, 0.45); /* Colore di base delle stelle */
	transition: fill 0.3s; /* Transizione per il colore */
	cursor: pointer; /* Mostra il cursore a mano quando si passa sopra */
}

/* Stelle selezionate e al passaggio del mouse */
.star--checked {
	fill: #00ffff; /* Colore per le stelle selezionate */
}

.star--hover {
	fill: #00ffff; /* Colore al passaggio del mouse */
}

/* Titolo del modulo */
h2 {
	font-size: 5.5rem; /* Dimensione del titolo */
	font-weight: bold; /* Grassetto per il titolo */
	text-align: center; /* Centra orizzontalmente */
}

/* Stile per il campo di commento */
.comment {
	background-color: transparent; /* Trasparente per mantenere il colore di sfondo */
	border: none; /* Rimuovi il bordo */
	width: 100%; /* Assicurati che si estenda completamente */
	resize: none; /* Disabilita il ridimensionamento */
	margin-bottom: 5rem;
	border-bottom: 2px solid #d20094; /* Linea fucsia in basso nell'area di input */
	outline: none;
	caret-color: #d20094;
	color: var(--text-color);
	opacity: 0.6;
	font-size: 1.4rem;
	text-indent: 0.5rem;
	padding: 0.5rem;
}

/* Stile per il pulsante */
button {
	display: block;
	margin: 0 auto;
	justify-content: center; /* Centra il contenuto orizzontalmente */
}
.feedback {
	margin-bottom: 5rem;
}

/* Stile per il paragrafo */
p {
	text-align: center; /* Centro del testo */
	font-size: 2.8rem; /* Dimensione del font */
	padding-top: 2rem;
	font-weight: 300;
	color: var(--text-color);
}
