/****************************/
/* STAR RATING */
/****************************/

.star-rating {
	display: flex; /* Disposizione flessibile per le stelle */
	align-items: center; /* Allinea le stelle verticalmente al centro */
	justify-content: center; /* Centra le stelle orizzontalmente */
	gap: 10px; /* Spaziatura tra le stelle */
	margin: 2rem;
}

.star {
	height: 3rem;
	width: 3rem;
	fill: black; /* Colore di base delle stelle */
	transition: fill 0.3s; /* Transizione per il colore */
	cursor: pointer; /* Mostra il cursore a mano quando si passa sopra */
}

.star--checked {
	fill: aqua; /* Colore per le stelle selezionate */
}

.star:hover {
	fill: aqua; /* Colore al passaggio del mouse */
}
form {
	margin-top: 2rem;
}
.rating-text {
	margin-top: 10px;
	font-size: 1.5rem;
	color: #333;
	text-align: center; /* Centra il testo */
}
